/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos do cabeçalho */
header {
    background-color: #3d94ce;
    color: #fff;
    padding: 35px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5vw;
}

header .menu {
    display: none;
    position: absolute;
    padding: 2vh;
    background-color: #3d94ce;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }

  header .menu a {
    display: block;
    padding: 2vh;
    text-decoration: none;
    text-align: left;
    font-weight: bold;
    color: #fff;
    font-size: 1vw;
  }

  header .menu a:hover {
    background-color: #fff;
    color: #3d94ce;
  }

  header .imageMenu {
    cursor: pointer;
  }

  header .logo {
    display: inline-block;
    max-width: 8vw;
    vertical-align: middle;
    border-radius: 50px;
  }

  header .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 2.5vw; 
    height: auto; 
    filter: invert(100%);
  }

  header .left-icon {
    top: 60px;
    left: 20px;
  }

  header .right-icon {
    top: 60px;
    right: 20px;
  }

/* Estilos do conteúdo principal */
main {
    margin: 8% auto;
    flex: 1;
    padding: 20px;
    width: 90%;
}

section {
    margin-bottom: 40px;
}

form {
    width: 60%;
    margin: 0 auto;
    padding: 2vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  form label{
    font-weight: bold;
    font-size: 1.5vw;
  }

  input[type="text"], input[type="email"],
  input[type="password"], input[type="confPassword"] {
    width: calc(97% - 10px);
    margin-bottom: 0.5vw;
    padding: 1vw;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  input[type="submit"] {
    width: 100%;
    padding: 1vw;
    border: none;
    border-radius: 3px;
    background-color: #3d94ce;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
  }

  input[type="submit"]:hover {
    background-color: #0056b3;
  }

  .login-text{
    text-align: right;
    margin-top: 10px;
  }

  .login-text a {
    color: #3d94ce;
  }

  .login-text a:hover {
    color: #0056b3;
  }

  .campoObrigatorio {
    margin: 0 0 20px 0;
    font-size: 1vw;
    color: red;
  }

/* Estilos do rodapé */
footer {
    background-color: #3d94ce;;
    color: #fff;
    padding: 5px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 99.3%;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 2vw;
  }

  footer a:hover {
    text-decoration: underline;
  }

  footer p {
    font-size: 1vw;
    margin: 1vw;
  }

  footer img{
    width: 2.5vw;
  }

  footer .linksRodape{
    margin: 10px 0;
  }
